<div class="register">
    <div class="modal fade " id="signup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" >
        <div class="modal-dialog" style="max-width: 500px; display: flex; min-height: 70vh;align-items: center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        Sign up</h4>
                </div>
                <div class="modal-body">
                    <div id="Registration">
                        <form role="form" ng-submit="$ctrl.submit()" class="form-horizontal" name="signup_form">
                            <div class="form-group">
                                <!--<label for="email" class="col-sm-2 control-label">Email</label>-->
                                <div class="col-sm-6">
                                    <label for="first" style="font-family: Roboto-light" class="required">First Name</label>
                                    <input type="text" class="form-control" id="first" placeholder="John" ng-model="$ctrl.first" required/>
                                </div>
                                <div class="col-sm-6">
                                    <label for="last" style="font-family: Roboto-light" class="required">Last Name</label>
                                    <input type="text" class="form-control" id="last" placeholder="Doe"  ng-model="$ctrl.last" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="email" class="col-sm-2 control-label">Email</label>-->
                                <div class="col-sm-12">
                                    <label for="email" style="font-family: Roboto-light" class="required" >Email</label>
                                    <input type="email" name="email" class="form-control " ng-change="testt()" id="email" placeholder="johndoe@example.com" ng-model="$ctrl.email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
                                    <p ng-show="exists" style="color: red">This email already registered</p>
                                    <img src="http://wiki.pandorafms.com/images/d/d6/Yes_tick.png" alt="" style="float: right; margin-top: -28px; margin-right: 8px" ng-show="!(signup_form.email.$error.email) && email_error" >
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="mobile" class="col-sm-2 control-label">Mobile</label>-->
                                <div class="col-sm-12">
                                    <label for="password" style="font-family: Roboto-light;" class="required" >Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Minimum 5 characters" ng-model='$ctrl.password' ng-change="$ctrl.pass()" required pattern=".{5,}" title="5 characters minimum"/>
                                    <img src="http://wiki.pandorafms.com/images/d/d6/Yes_tick.png" alt="" style="float: right; margin-top: -28px; margin-right: 8px" ng-show="$ctrl.passw" >
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="password" class="col-sm-2 control-label">Password</label>-->
                                <div class="col-sm-12">
                                    <label for="confirm" style="font-family: Roboto-light" class="required">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm" ng-model="$ctrl.confirm" placeholder="Confirm Password" ng-change="$ctrl.change()" required/>
                                    <img src="http://wiki.pandorafms.com/images/d/d6/Yes_tick.png" alt="" id="tick" style="float: right; margin-top: -28px; margin-right: 8px" ng-show='$ctrl.tick'>
                                </div>

                            </div>

                            <div class="form-group" required>

                                <div class="col-sm-12" >
                                    <label for="password" style="font-family: Roboto-light" class="required">User Type</label>
                                    <a href="#" data-toggle="popover"  data-content="Register as a salon to get services from stylists or register as a stylist to start working"><span class="glyphicon glyphicon-question-sign" style="color: darkgrey"></span></a>
                                    <br/>
                                    <input type="checkbox"  id="salon" ng-model="$ctrl.salon" onchange="document.getElementById('sign').disabled !=(document.getElementById('salon').checked && document.getElementById('stylist').checked);" />
                                    <label style=" font-family: Roboto-light" for="salon" class="control-label">Salon</label>
                                    <input type="checkbox" id="stylist" ng-model="$ctrl.stylist"/>
                                    <label style=" font-family: Roboto-light" for="stylist" class="control-label">Stylist</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<label for="password" class="col-sm-2 control-label">Password</label>-->
                                <div class="col-sm-12">
                                    <input type="checkbox" id="promotion" checked ng-model="$ctrl.promotion" value="1" />
                                    <label style=" font-family: Roboto-light" for="password" class="control-label">I'd like to receive promotions, newsletters and future updates</label>
                                </div>
                            </div>
                            <div class="form-group col-lg-4">
                                <input class="btn btn-primary" type="submit" value="Sign up" id="sign" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>