
<div class="" ng-show="true" style="">
    <div style="padding-top: 250px">
        <div class="form-group" ng-controller="SearchController">
            <div class="col-lg-12">
                <div class="col-lg-3 col-lg-offset-1" style="margin-left: 60px">
                    <label for="skill" class="col-lg-4" style="margin-top: 7px">Location</label>
                    <select  class="form-control" name="size" id="location" style="width: 150px">
                        <option ng-repeat="item in location_list">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-lg-3 ">
                    <label for="jobtype" class="col-lg-4" style="margin-top: 7px">JobType</label>
                    <select ng-model="selectedName" class="form-control" name="size" id="jobtype" style="width: 150px">
                        <option ng-repeat="item in job_types">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="skill" class="col-lg-4" style="margin-top: 7px">Skills</label>
                    <select ng-model="selectedSkillName" class="form-control" name="size" id="skill" style="width: 150px">
                        <option ng-repeat="item in skill_types">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-lg-2" style="">
                    <label for="skill"></label>
                    <input type="button" value="Search" ng-click="beginSearch(selectedSkillName,selectedName)" class="btn btn-primary" style="width: 150px">
                </div>
            </div>

        </div>
    </div>
</div>

<!--<div class="container">-->
    <!--<div class="dropdown col-lg-3">-->
        <!--<label for="">Location</label>-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select All-->
            <!--<span class="caret"></span></button>-->
        <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">HTML</a></li>-->
            <!--<li><a href="#">CSS</a></li>-->
            <!--<li><a href="#">JavaScript</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="dropdown col-lg-3">-->
        <!--<label for="">Job type</label>-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select All-->
            <!--<span class="caret"></span></button>-->
        <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">HTML</a></li>-->
            <!--<li><a href="#">CSS</a></li>-->
            <!--<li><a href="#">JavaScript</a></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="dropdown col-lg-3">-->
        <!--<label for="">Skill</label>-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select All-->
            <!--<span class="caret"></span></button>-->
        <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">HTML</a></li>-->
            <!--<li><a href="#">CSS</a></li>-->
            <!--<li><a href="#">JavaScript</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->