<!DOCTYPE html>
<html lang="en"  ng-app="myApp" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--jQuery-->
    <script src="../vendor/jquery-3.2.1.js"></script>

    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
    <script src="../vendor/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--angular-->
    <script src="../vendor/angular.js"></script>
    <script src="../vendor/angular-ui-router.min.js"></script>
    <script src="../vendor/ngStorage.min.js"></script>
    <script src="../vendor/angular-route.js"></script>

    <!--app-->
    <script src="../app.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/app.css">
    <script src="../services/authService.js"></script>
    <script src="../app.config.js"></script>
    <script src="../controllers/authController.js"></script>
    <script src="../controllers/profileController.js"></script>

    <!--signup-->
    <script src="../sign-up/sign-up.module.js"></script>
    <script src="../sign-up/sign-up.component.js"></script>

    <!--signin-->
    <script src="../sign-in/sign-in.module.js"></script>
    <script src="../sign-in/sign-in.component.js"></script>


    <!--calendar-->
    <script src="../vendor/calendar-tpls.js"></script>
    <link rel="stylesheet" href="../assets/css/calendar.css" rel='stylesheet' type='text/css'>
    <script src="../calendar/calendar.component.js"></script>

   <!--profile editor-->
    <link href='https://fonts.googleapis.com/css?family=Dosis|Rajdhani' rel='stylesheet' type='text/css'>

    <base href="/HairBnB/app/views/">



</head>

<body style="font-family: Roboto;" ng-controller="MainController">



<div class="menu">
    <nav class="navbar navbar-default" style="background-color: transparent;border: none; font-size: 11pt">
        <div class="container-fluid col-lg-offset-2 col-lg-8" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand" href="#" style="font-family: Keldex; font-size: 17pt; color: #66bb6a; ">HairBnB</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active "><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="#">Link</a></li>-->

                </ul>
                <ul class="nav navbar-nav navbar-right" >
                    <!--<li><a href="#">Help</a></li>-->
                    <!--<li ng-hide="user_salon || !(authenticated)"><a href="/HairBnB/app/views/#!/create">Become a Stylist</a></li>-->
                    <li  ng-hide="!(authenticated)" >

                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="text-transform: capitalize;">
                            <img src="../assets/images/default.png" alt="" class="img-circle" style="width: 30px; margin-top: -7px; right: 0">
                            {{username}}</a>

                        <ul class="dropdown-menu" id="user_dropdown">
                            <li><a href="">Dashboard</a></li>
                            <li ng-show="user_salon"><a href="/HairBnB/app/views/#!/profile">My Profile</a></li>
                            <li><a href="">Account and Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" ng-click="sign_out()">Sign Out</a></li>
                        </ul>
                    </li>
                    <li ng-hide="(authenticated)"><a href="#" data-toggle="modal" data-target="#signin" style = "background-size: contain">Sign in</a></li>
                    <li ng-hide="(authenticated)"><a href="#" data-toggle="modal" data-target="#signup">Sign up</a></li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div style="min-height: 680px">
    <sign-up></sign-up>

    <sign-in></sign-in>

;


    <div ng-view></div>
</div>



<div class="footer" style="opacity: 0.7">
    <div style="height: 220px; background-color:#80a5c0;right: 0;bottom: 0;left: 0;padding: 1rem;color: white">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="col-xs-3" style="margin-top:40px ">
                <div class="row"><h5>Company Info</h5></div>
                <div class="row"><h6>About us</h6></div>
                <div class="row"><h6>Contact</h6></div>
                <div class="row"><h6>Customer support</h6></div>
            </div>
            <div class="col-xs-3" style="margin-top:40px">
                <div class="row"><h5>Support</h5></div>
                <div class="row"><h6>Help</h6></div>
                <div class="row"><h6>Ask a question</h6></div>
                <div class="row"><h6>FAQ</h6></div>
            </div>
            <div class="col-xs-2" style="margin-top:40px">
                <div class="row"><h5>Invite Friends</h5></div>
            </div>

            <div class="col-xs-4" style="margin-top:40px; text-align: center">

                <div >
                    <div class=""><h5>Follow us</h5></div>
                    <a href="https://www.facebook.com/luminancestore"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>




</body>

</html>