<script src="../main.js"></script>


<div class="container-fluid">

    <!--<div id="carousel-example-generic" class="carousel slide col-lg-8 col-lg-offset-2 " data-ride="carousel">-->

        <!--&lt;!&ndash; Indicators &ndash;&gt;-->
        <!--<ol class="left carousel-indicators">-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        <!--</ol>-->

        <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
        <!--<div class="carousel-inner">-->
            <!--<div class="item active">-->
                <!--<img src="https://placeholdit.imgix.net/~text?txtsize=40&bg=800000&txtclr=ffffff&txt=SLIDE 1&w=1170&h=300" alt="...">-->
            <!--</div>-->

            <!--<div class="item">-->
                <!--<img src="https://placeholdit.imgix.net/~text?txtsize=40&bg=800000&txtclr=ffffff&txt=SLIDE 2&w=1170&h=300" alt="...">-->
            <!--</div>-->

            <!--<div class="item">-->
                <!--<img src="https://placeholdit.imgix.net/~text?txtsize=40&bg=800000&txtclr=ffffff&txt=SLIDE 3&w=1170&h=300" alt="...">-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Controls &ndash;&gt;-->
        <!--<a class="left carousel-control" href="/profile/#carousel-example-generic" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->

        <!--<a class="right carousel-control" href="/profile/#carousel-example-generic" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--</a>-->

    <!--</div>-->
    <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-4 col-lg-offset-4" style="text-align: center">
            <img src="../assets/images/default.png" alt="" class="img-circle" style="height: 150px">
        </div>
        <!--<div class="panel-default" style="box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32); margin-top: 240px">-->
            <!--<div class="panel-heading" style="height: 300px; background-color: white"></div>-->
        <!--</div>-->


    </div>


    <div id="wrapper">

        <section>

            <button id="editBtn" type="button">Enable Editing</button>
            <div id="editDocument">
                <h1 id="title">{{username}}</h1>
                <p>Last Edited by <span id="author">Monty Shokeen</span>
                </p>
                <p id="content">You can change the heading, author name and this content itself. Click on Edit Document to start editing. At this point, you can edit this document and the changes will be saved in localStorage. However, once you reload the page your changes will be gone. To fix it we will have to retrieve the contents from localSotrage when the page reloads.</p>
            </div>
        </section>
    </div>

    <!--<div class="container">-->


        <!--<div>-->
            <!--<span>Username:</span>-->
            <!--<a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>-->
        <!--</div>-->

        <!--<div>-->
            <!--<span>Status:</span>-->
            <!--<a href="#" id="status"></a>-->
        <!--</div>-->


    <!--</div>-->

</div>


