<script src="../main.js"></script>

<img src="../assets/images/cover.jpg" alt=""  style="width: 100%">
<div class="container-fluid" style="font-family: Roboto">

    <!--<div id="carousel-example-generic" class="carousel slide col-lg-8 col-lg-offset-2 " data-ride="carousel">-->

        <!--&lt;!&ndash; Indicators &ndash;&gt;-->
        <!--<ol class="left carousel-indicators">-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        <!--</ol>-->

        <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
        <!--<div class="carousel-inner">-->
            <!--<div class="item active">-->
                <!--<img src="https://placeholdit.imgix.net/~text?txtsize=40&bg=800000&txtclr=ffffff&txt=SLIDE 1&w=1170&h=300" alt="...">-->
            <!--</div>-->

            <!--<div class="item">-->
                <!--<img src="https://placeholdit.imgix.net/~text?txtsize=40&bg=800000&txtclr=ffffff&txt=SLIDE 2&w=1170&h=300" alt="...">-->
            <!--</div>-->

            <!--<div class="item">-->
                <!--<img src="https://placeholdit.imgix.net/~text?txtsize=40&bg=800000&txtclr=ffffff&txt=SLIDE 3&w=1170&h=300" alt="...">-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Controls &ndash;&gt;-->
        <!--<a class="left carousel-control" href="/profile/#carousel-example-generic" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->

        <!--<a class="right carousel-control" href="/profile/#carousel-example-generic" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--</a>-->

    <!--</div>-->

    <div class="col-lg-8 col-lg-offset-2" style="margin-top: -100px; height: 1000px" >
        <div class="col-lg-12">
            <div class="col-lg-3" style=" ">
                <div style="text-align: center">
                    <img src="../assets/images/stylist.jpg" alt="" class="img-circle" style="height: 180px">
                    <h1 id="title" style="text-transform: capitalize">{{username}}</h1>
                    <p id="author">tharaka.kamal@gmail.com
                    </p>
                </div>
                <br><br><br>
            </div>
            <div class="col-lg-9" style="margin-top: 120px">
                <button id="editBtn" type="button" style="float: right">Enable Editing</button>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-3">
                <h4 class="col-lg-9">Job Types<span ></span>
                </h4>
                <br>
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <input ng-model="b1" type="checkbox" ><label>Stylist</label>
                        <div ng-show="b1">
                            <input type="text" placeholder="Price per day" ng-model="stylistfee" >
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <input ng-model="b2" type="checkbox" ><label>Educator</label>
                        <div ng-show="b2">
                            <input type="text" placeholder="Price per day" ng-model="educatorfee" id="educatorfee" >
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <input ng-model="b3" type="checkbox"  ><label>Assistant</label>
                        <div ng-show="b3">
                            <input type="text" placeholder="Price per day" ng-model="assistantfee" >
                        </div>
                    </div>

                </div>
                <br>

                <h4 class="col-lg-9">Skills <span ></span>
                </h4>
                <a href="" class="col-lg-3"><span class="glyphicon-plus">Add </span>
                </a>
                <br>
                <div class="col-lg-12">
                    <p>Hair Coloring
                    </p>
                    <p>Hair Rebonding
                    </p>
                    <p>Hair Waxing
                    </p>

                </div>


            </div>
                <div id="editDocument" class="col-lg-9">

                    <p id="content" style="text-align: justify">We are client intimacy business that seeks to create a high end service for our clients and a rewarding and engaging environment for our Team/Talent.
                        We are a dedicated Team of professional with international and local experience and education.
                        Since 1998 we have trained and qualified a large number of apprentices, most of whom have gone on to international careers or to own there own business. </p>


                </div>
        </div>


        <!--<div class="col-xs-12">-->
            <!--<div class="col-xs-12">-->
                <!--<calendar-d></calendar-d>-->
            <!--</div>-->
        <!--</div>-->
        <hr class="col-lg-12" style="">
        <h4>Describe yourself</h4>
        <textarea class="col-lg-12 panel-default" style="resize: none; height: 100px" ng-model="description" required></textarea>
        <hr class="col-lg-12" style="">
        <h4>Select jobs you can do</h4>

        <div class="col-lg-12">




            <div class="col-lg-2" style="height: 30px;">
                <input ng-model="job1" type="checkbox" ><label>Stylist</label>
            </div>
            <div ng-show="job1" class="col-lg-10" style=" height: 30px;">
                <input type="number" placeholder="Price per day($)" ng-model="price1" >
            </div>
            <br>
            <br>



            <div class="col-lg-2" style="height: 30px">
                <input ng-model="job2" type="checkbox" ><label>Educator</label>
            </div>

            <div ng-show="job2" class="col-lg-10" style="height: 30px">
                <input type="number" placeholder="Price per day" ng-model="price2" id="educatorfee" >
            </div>
            <br><br>

            <div class="col-lg-2" style="height: 30px">
                <input ng-model="job3" type="checkbox"  ><label>Assistant</label>
            </div>
            <div ng-show="job3" class="col-lg-10" style="height: 30px">
                <input type="number" placeholder="Price per day" ng-model="price3" >
            </div>

        </div>
        <hr class="col-lg-12" style="">
        <h4>Select skills you have</h4>
        <div class="col-lg-12">
            <div class="col-lg-4">
                <p>Men:</p>
                <div style="font-family: Roboto-light">
                    <input type="checkbox" ng-model="skill1" id="skill1"> <label for="skill1">Barber</label>  <br>
                    <input type="checkbox" ng-model="skill2" id="skill2"> <label for="skill2">Freehand</label> <br>
                    <input type="checkbox" ng-model="skill3"id="skill3">  <label for="skill3">Razor</label> <br>
                    <input type="checkbox" ng-model="skill4"id="skill4"> <label for="skill4">Shaving</label> <br>
                    <input type="checkbox" ng-model="skill5"id="skill5">  <label for="skill5">Scissor over comb</label> <br>
                    <input type="checkbox" ng-model="skill6"id="skill6">  <label for="skill6">Texturing</label> <br>
                    <input type="checkbox" ng-model="skill7"id="skill7"> <label for="skill7">Clipper work</label>
                </div>
            </div>
            <div class="col-lg-4">
                <p>Women:</p>
                <div style="">
                    <input type="checkbox" ng-model="skill8" id="skill8"> <label for="skill8">Classics</label>  <br>
                    <input type="checkbox" ng-model="skill9" id="skill9"> <label for="skill9">Dry cutting</label> <br>
                    <input type="checkbox" ng-model="skill10"id="skill10">  <label for="skill10">Wig cutting</label> <br>
                    <input type="checkbox" ng-model="skill11"id="skill11"> <label for="skill11">Long hair</label> <br>
                    <input type="checkbox" ng-model="skill12"id="skill12">  <label for="skill12">Short hair</label> <br>
                    <input type="checkbox" ng-model="skill13"id="skill13">  <label for="skill13">Makeup</label> <br>
                    <input type="checkbox" ng-model="skill14"id="skill14"> <label for="skill14">Hair coloring</label>
                </div>
            </div>
        </div>


        </div>




    <!--<div class="container">-->


        <!--<div>-->
            <!--<span>Username:</span>-->
            <!--<a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>-->
        <!--</div>-->

        <!--<div>-->
            <!--<span>Status:</span>-->
            <!--<a href="#" id="status"></a>-->
        <!--</div>-->


    <!--</div>-->

</div>




