<script src="../main.js"></script>

<img src="../assets/images/cover.jpg" alt=""  style="width: 100%; margin-top: 10px">
<div class="container-fluid" style="font-family: Roboto" ng-controller="ProfileController" ng-init="onInit()">


    <div class="" style="margin-top: -100px;" >
            <div class="col-lg-2" style="">
                <div style="margin-top: 40px">
                    <img src="../assets/images/default.png" alt="" class="img-circle" style="height: 180px">

                </div>
            </div>
            <div class="col-lg-8" style="margin-top: 105px">
                <h1 id="title" style="text-transform: capitalize">{{username}} {{last_name}}</span></h1>
                <p id="author" style="margin-bottom: 10px; ">{{useremail}}

            </div>
        <br>

        <div class="col-lg-12" style="margin-top: 50px">
            <div class="col-lg-12 alert alert-info">
                <div  ng-repeat="item in jobs">
                    <div class="col-lg-4" ng-if="item.value">
                        <p>Book me as {{item.name}}</p>
                        <p><span style="font-size:18pt">{{item.price}}</span> per day</p>
                    </div>
                </div>
                <!--<div class="col-lg-4">-->
                    <!--<p ng-show="type1">Book me as Stylist</p>-->
                    <!--<p ng-show="type1" ><span style="font-size:18pt">${{price1}}</span> per day</p>-->
                <!--</div>-->
                <!--<div class="col-lg-4">-->
                    <!--<p ng-show="type2">Book me as Educator</p>-->
                    <!--<p ng-show="type2"><span style="font-size:18pt">${{price2}}</span> per day</p>-->
                <!--</div>-->
                <!--<div class="col-lg-4">-->
                    <!--<p ng-show="type3">Book me as Assistant</p>-->
                    <!--<p ng-show="type3"><span style="font-size:18pt">${{price3}}</span> per day</p>-->

                <!--</div>-->
            </div>

            <h4 style="margin-top: 150px" >Bio </h4>

            <p id="content" style="text-align: justify">{{bio}}</p>

            <!--<h4 style="margin-top: 20px">Job Types</h4>-->



                <h4 style="margin-top: 50px" >Skills </h4>

            <div class="col-lg-12" style="margin-bottom: 50px">
            <div class="col-lg-4">
                <p style="font-family: Roboto-light">Men:</p>
                <div >
                    <h5 ng-show="skill1">Barber</h5>
                    <h5 ng-show="skill2">Freehand</h5>
                    <h5 ng-show="skill3">Razor</h5>
                    <h5 ng-show="skill4">Shaving</h5>
                    <h5 ng-show="skill5">Scissor over comb</h5>
                    <h5 ng-show="skill6">Texturing</h5>
                    <h5 ng-show="skill7">Clipper work</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <p style="font-family: Roboto-light">Women:</p>
                <div >
                    <h5 ng-show="skill8">Classics</h5>
                    <h5 ng-show="skill9">Dry cutting</h5>
                    <h5 ng-show="skill10">Wig cutting</h5>
                    <h5 ng-show="skill11">Long hair</h5>
                    <h5 ng-show="skill12">Short hair</h5>
                    <h5 ng-show="skill13">Makeup</h5>
                    <h5 ng-show="skill14">Hair coloring</h5>
                </div>
            </div>
            </div>

        </div>

        </div>


        <!--<div class="col-xs-12">-->
            <!--<div class="col-xs-12">-->
                <!--<calendar-d></calendar-d>-->
            <!--</div>-->
        <!--</div>-->
    </div>





    <!--<div class="container">-->


        <!--<div>-->
            <!--<span>Username:</span>-->
            <!--<a href="#" id="username" data-type="text" data-placement="right" data-title="Enter username">superuser</a>-->
        <!--</div>-->

        <!--<div>-->
            <!--<span>Status:</span>-->
            <!--<a href="#" id="status"></a>-->
        <!--</div>-->


    <!--</div>-->







