<style>
    a:hover{
        color : #66bb6a;
        text-decoration: none;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
    }
</style>

<div style=" min-height: 600px" ng-controller="SearchController" ng-init="onInit()">
        <!--<div class="col-xs-3">-->
            <!--<label for="location">Location</label>-->
            <!--<select class="form-control" name="location" id="location" style="width: 200px">-->
                <!--<option value="1">Sidney</option>-->
                <!--<option value="2">Melbourne</option>-->
            <!--</select>-->
            <!--<label for="name">Name</label>-->
            <!--<input type="text" name="name" id="name" class="form-control" style="width: 200px" placeholder="(Optional)">-->
            <!--<label for="skill">Skills</label>-->
            <!--<select class="form-control" name="skill" id="skill" style="width: 200px">-->
                <!--<option value="1">Barber</option>-->
                <!--<option value="2">Makeup</option>-->
                <!--<option value="3">Dry cutting</option>-->
                <!--<option value="4">Shaving</option>-->
                <!--<option value="5">Hair styling</option>-->
                <!--<option value="6">Wigs cutting</option>-->
                <!--<option value="7">Curling</option>-->
                <!--<option value="8">Coloring</option>-->
                <!--<option value="9">Color correction</option>-->
                <!--<option value="10">Long hair</option>-->
                <!--<option value="l1">Short hair</option>-->
            <!--</select>-->
        <!--</div>-->


            <div id='' class="col-xs-8" style="font-family: Roboto-light; font-size: 10pt; position: fixed; z-index: 1; background-color:rgba(255, 255, 255, 1);padding-top: 50px" >

                <div class="col-xs-2">
                    <label for="job_types" style="font-family: Roboto" >Job Type</label>
                    <div  id="job_types">
                        <div ng-repeat="item in job_types">
                            <input type="checkbox" id="job_type{{item.name}}" ng-model="item.value" ng-hide="$index === 0">
                            <label for="job_type{{item.name}}" ng-hide="$index === 0">{{item.name}}</label>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <label for="skill_types_men" style="font-family: Roboto" >Men</label>
                    <div id="skill_types_men" >
                        <div class="col-lg-4" style="margin-left: -15px">
                            <div ng-repeat="item in skill_types">
                                <div ng-if="$index!==0 && $index <=4">
                                    <input type="checkbox" id="skill_type_men1{{item.name}}" ng-model="item.value" >
                                    <label for="skill_type_men1{{item.name}}">{{item.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div ng-repeat="item in skill_types">
                                <div ng-if="$index!==0 && ($index > 4 && $index <=7)">
                                    <input type="checkbox" id="skill_type_men2{{item.name}}" ng-model="item.value" >
                                    <label for="skill_type_men2{{item.name}}">{{item.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4" >
                    <label for="skill_types_men" style="font-family: Roboto" >Women</label>
                    <div id="skill_types_women" >
                        <div class="col-lg-4" style="margin-left: -15px">
                            <div ng-repeat="item in skill_types">
                                <div ng-if="$index>7 && $index <=11">
                                    <input type="checkbox" id="skill_type_women1{{item.name}}" ng-model="item.value" >
                                    <label for="skill_type_men1{{item.name}}">{{item.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div ng-repeat="item in skill_types">
                                <div ng-if="$index>11">
                                    <input type="checkbox" id="skill_type_women2{{item.name}}" ng-model="item.value" >
                                    <label for="skill_type_men2{{item.name}}">{{item.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-2">
                    <input type="button" value="Filter Results" ng-click="dynamicSearch()" class="btn btn-primary" style="width: 150px">
                </div>



            </div>
            <div style="height: 170px"></div>
            <div class="alert alert-primary" style="margin-top: 25px" ng-show="empty_results">
                <strong>No stylists found</strong>
            </div>
            <div ng-repeat="search_data in search_results" style="">
                <div class="col-xs-3 " style="margin-top: 20px; " ng-click="viewProfile(search_data.id)" >
                    <div class="col-lg-12 panel panel-default">
                            <a style="">
                                <img src="../assets/images/profile.jpg" style="width: 100%; margin-top: 15px">
                                <p style="font-size: 14pt; margin-top: 5px">{{search_data.firstname}} {{search_data.lastname}}</p>

                                <!--<div style=" margin-top: -10px">-->
                                    <!--<input type="button" class="btn btn-primary"  value="View" style="width: 100px; ">-->
                                    <!--&lt;!&ndash;<input type="button" class="btn btn-success" ng-click="placeOrder(search_data.id)" ng-disabled="search_data.disable" value="Order Now"  style="width: 100px">&ndash;&gt;-->
                                <!--</div>-->

                                <!--<p>{{search_data.location}}</p>-->

                            </a>

                            <!--<p>{{search_data.acctypes}}</p>-->
                            <!--<p>{{search_data.description}}</p>-->
                            <p  style=""> <span class = "glyphicon glyphicon-star" style="color: #ffcc00"></span>&nbsp;{{search_data.rates}}</p>
                            <p >Starting at <b>${{search_data.price}}</b></p>
                    </div>

                </div>

                </div>
        </div>
            </div>
        </div>