<div style=" margin-top: 50px; min-height: 600px" ng-controller="SearchController" ng-init="onInit()">
        <!--<div class="col-xs-3">-->
            <!--<label for="location">Location</label>-->
            <!--<select class="form-control" name="location" id="location" style="width: 200px">-->
                <!--<option value="1">Sidney</option>-->
                <!--<option value="2">Melbourne</option>-->
            <!--</select>-->
            <!--<label for="name">Name</label>-->
            <!--<input type="text" name="name" id="name" class="form-control" style="width: 200px" placeholder="(Optional)">-->
            <!--<label for="skill">Skills</label>-->
            <!--<select class="form-control" name="skill" id="skill" style="width: 200px">-->
                <!--<option value="1">Barber</option>-->
                <!--<option value="2">Makeup</option>-->
                <!--<option value="3">Dry cutting</option>-->
                <!--<option value="4">Shaving</option>-->
                <!--<option value="5">Hair styling</option>-->
                <!--<option value="6">Wigs cutting</option>-->
                <!--<option value="7">Curling</option>-->
                <!--<option value="8">Coloring</option>-->
                <!--<option value="9">Color correction</option>-->
                <!--<option value="10">Long hair</option>-->
                <!--<option value="l1">Short hair</option>-->
            <!--</select>-->
        <!--</div>-->
        <div class="col-xs-12" style="font-family: Roboto">
            <div class="alert alert-success" style="margin-top: 25px" ng-show="empty_results">
                <strong>No stylist found for your requirement!</strong>
            </div>
            <div ng-repeat="search_data in search_results" style="margin-top: ">
                <div class="col-xs-12"
                     ng-style="$index < (search_results.length-1) ?
                                                { 'border-bottom':'1px solid lightgray', 'padding-bottom':'20px'} :
                                                { 'border-bottom': '1px solid white', 'padding-bottom':'0px'}" style="margin-top: 20px">
                    <div class="col-xs-3">
                        <img src="../assets/images/default.png" style="height: 120px;">
                    </div>
                    <div class="col-xs-9">
                        <div >
                            <p style="float: right"><b>{{search_data.price}}</b> per day</p>
                            <h3 class="">{{search_data.firstname}} {{search_data.lastname}}</h3>
                            <p>☆☆☆☆☆ &nbsp;&nbsp;{{search_data.rates}}</p>
                            <div style="float: right; margin-top: -10px">
                                <input type="button" class="btn btn-success" ng-click="viewProfile(search_data.id)" value="View" style="width: 100px; ">
                                <!--<input type="button" class="btn btn-success" ng-click="placeOrder(search_data.id)" ng-disabled="search_data.disable" value="Order Now"  style="width: 100px">-->
                            </div>

                            <!--<p>{{search_data.location}}</p>-->

                        </div>

                        <!--<p>{{search_data.acctypes}}</p>-->
                        <!--<p>{{search_data.description}}</p>-->

                    </div>
                </div>
            </div>
        </div>
</div>
